<span class="content"><%= comment.content %></span>
<br/>
<!--<%#= form_with model: [tweet, tweet.comments.build], remote: true do |f| %>
  <%#= f.text_field :content, class: 'form-control-sm content1' %>
  <%#= f.submit 'comment', class: "font-italic btn btn-sm btn-outline-info comment" %>
<%# end %>-->